body {
  font-family: 'Merriweather', serif;
  line-height: 1.618em;
}
html {
  scroll-behavior: smooth;
}
.container {
  margin-left: auto;
  margin-right: auto;
  /*width: 45%;*/
  width:39em;
}

.subSectionDesc {
  text-align: justify;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#mySidenav{
  line-height: 1em;
}
.menuTop {
  top: 0px;
  position: fixed;
}
.sidenav {
  display: none;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
